<footer class="footer-tryz pt-5 pb-2">
  <div class="container">
    <div class="row align-items-center footer-top-row mb-4">
      <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
        <img src="./img/Logo TRYZ.png" alt="TRYZ Eventos" class="footer-logo" />
      </div>
      <div
        class="col-md-6 d-flex justify-content-md-end justify-content-center align-items-center"
      >
        <span class="footer-redes-label mr-3">Acompanhe nas redes</span>
        <a href="#" class="footer-social mr-3"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" class="footer-social"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <hr class="footer-divider" />

    <div class="row footer-middle-row align-items-start">
      <div class="col-md-2 col-12 mb-4 mb-md-0">
        <h6 class="footer-title">TRYZ</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="footer-link">Explorar</a></li>
          <li><a href="#" class="footer-link">Adicionar Evento</a></li>
          <li><a href="#" class="footer-link">Meus Ingressos</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-12 mb-4 mb-md-0">
        <h6 class="footer-title">Institucional</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="footer-link">Sobre a TRYZ</a></li>
          <li><a href="#" class="footer-link">Como Funciona</a></li>
          <li><a href="#" class="footer-link">Entre em contato</a></li>
          <li><a href="#" class="footer-link">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-12 mb-4 mb-md-0">
        <h6 class="footer-title">Contato</h6>
        <div class="footer-contact-block">
          <div class="footer-contato mb-2">+55 11 9999 9999</div>
          <div class="footer-contato">
            Rua Lorem Ipsum, Bairro Lorem,<br />
            Santo André, SP,<br />
            CEP 0009988
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-12 d-flex justify-content-md-end justify-content-center mt-4 mt-md-0"
      >
        <div class="footer-card-atendimento">
          <div class="d-flex align-items-start">
            <i class="fa fa-envelope-o footer-icon"></i>
            <div>
              <div class="footer-card-title">Atendimento:</div>
              <a href="mailto:contato@tryz.com" class="footer-card-link"
                >contato@tryz.com (24 horas)</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <small class="footer-copy">All Rights Reserved TRYZ EVENTOS 2024</small>
      </div>
    </div>
  </div>
</footer>
